{
  "static_file_dir": "./static",
  "export_dir": "./receiving",
  "cache_dir": "./cache",
  "input_denom_file": "./tests/test_data/20200601_All_Outpatients_By_County.dat",
  "input_covid_file": "./tests/test_data/20200601_Covid_Outpatients_By_County.dat",
  "start_date": "2020-02-01",
  "end_date": null,
  "drop_date": null,
  "n_backfill_days": 60,
  "n_waiting_days": 3,
  "se": false,
  "parallel": false,
  "geos": ["state", "msa", "hrr", "fips"],
  "weekday": [true, false],
  "wip_signal": "",
  "aws_credentials": {
    "aws_access_key_id": "",
    "aws_secret_access_key": ""
  },
  "bucket_name": "",
  "ftp_conn": {
    "host": "",
    "user": "",
    "pass": "",
    "port": 0
  }
}
