{
  "common": {
    "export_dir": "./receiving",
    "log_exceptions": false
  },
  "indicator": {
    "input_cache_dir": "./cache",
    "lags":7,
    "train":300,
    "test":100,
    "valid":1,
    "windows": [1, 3, 8, 20, 50, 60]
  }
}
