{
  "common": {
    "export_dir": "./receiving",
    "log_exceptions": false
  },
  "indicator": {
    "static_file_dir": "./static",
    "input_cache_dir": "./cache",
    "export_start_date": {"covid_ag": "2020-05-26", "flu_ag": "2020-02-02"},
    "export_end_date": {"covid_ag": "", "flu_ag": ""},
    "pull_start_date": {"covid_ag": "2020-05-26", "flu_ag": "2020-05-08"},
    "pull_end_date": {"covid_ag": "", "flu_ag": ""},
    "mail_server": "imap.exchange.andrew.cmu.edu",
    "account": "delphi-datadrop@andrew.cmu.edu",
    "password": "",
    "sender": "",
    "wip_signal": [""],
    "mode": ""
  }
}
