{
  "common": {
    "export_dir": "./receiving"
  },
  "indicator": {
    "input_file": "test_data/SYNEDI_AGG_INPATIENT_11062020_1451CDT.csv.gz",
    "drop_date": "2020-06-11",
    "n_backfill_days": 60,
    "n_waiting_days": 3,
    "write_se": false,
    "obfuscated_prefix": "foo_obfuscated"
  }
}