/ansible/
/cdc_covidnet/
/changehc/
/claims_hosp/
/combo_cases_and_deaths/
/covid_act_now/
/doctor_visits/
/google_health/
/google_symptoms/
/hhs_facilities/
/hhs_hosp/
/jenkins/
/Jenkinsfile/
/jhu/
/nchs_mortality/
/nowcast/
/quidel/
/quidel_covidtest/
/README.md
/safegraph_patterns/
/sir_complainsalot/
/testing_utils/
/usafacts/
/validator/

/*/*.tgz
/*/receiving/
/*/archive/
/*/contingency_receiving/
/*/tidy*
/*/individual/
/*/*.R
/*/params*

