{
  "common": {
    "log_exceptions": false,
    "export_dir": "./receiving"
  },
  "indicator": {
    "export_start_date":[2020,4,1],
    "date_range":"new",
    "issue_days":7,
    "source":"indicator-combination",
    "wip_signal": ""
  }
}
