{
  "common": {
    "export_dir": "./receiving",
    "log_filename": "dsew_cpr.log"
  },
  "indicator": {
    "input_cache": "./input_cache",
    "reports": "new",
    "export_start_date": null,
    "export_end_date": null,
    "export_signals": [
      "confirmed covid-19 admissions",
      "positivity",
      "doses administered",
      "booster doses administered",
      "fully vaccinated",
      "booster dose since"
    ]
  },
  "flagging": {
    "n_train": 7,
    "ar_lags": 3,
    "df_start_date":"05/01/2022",
    "df_end_date":"06/15/2022",
    "resid_start_date":"05/08/2022",
    "resid_end_date":"06/01/2022",
    "eval_start_date":"06/10/2022",
    "eval_end_date":"06/12/2022",
    "sig_str": "state_doses_admin_7dav" ,
    "output_dir": "./flagging_output",
    "input_dir": "./receiving",
    "lags": [0],
    "raw_df": "./flagging_output/raw.csv",
    "sig_fold": "dsew",
    "sig_type": "raw",
    "remote": false,
    "flagger_type": "flagger_io"
  },
  "validation": {
    "common": {
      "data_source": "dsew_cpr",
      "span_length": 14,
      "min_expected_lag": {"all": "3"},
      "max_expected_lag": {"all": "9"},
      "dry_run": true,
      "suppressed_errors": []
    },
    "static": {
      "minimum_sample_size": 0,
      "missing_se_allowed": true,
      "missing_sample_size_allowed": true
    },
    "dynamic": {
      "ref_window_size": 7,
      "smoothed_signals": [
        "naats_positivity_7dav",
        "confirmed_admissions_covid_1d_prop_7dav",
        "confirmed_admissions_covid_1d_7dav",
        "doses_admin_7dav",
        "booster_doses_admin_7dav"
      ]
    }
  }
}
