{
  "common": {
    "export_dir": "./receiving",
    "log_filename": "dsew_cpr.log"
  },
  "indicator": {
    "input_cache": "./input_cache",
    "reports": "new",
    "export_start_date": null,
    "export_end_date": null,
    "export_signals": [
      "booster dose since"
    ]
  },
  "validation": {
    "common": {
      "data_source": "dsew_cpr",
      "span_length": 14,
      "min_expected_lag": {"all": "3"},
      "max_expected_lag": {"all": "9"},
      "dry_run": true,
      "suppressed_errors": []
    },
    "static": {
      "minimum_sample_size": 0,
      "missing_se_allowed": true,
      "missing_sample_size_allowed": true
    },
    "dynamic": {
      "ref_window_size": 7,
      "smoothed_signals": [
        "booster_doses_admin_7dav"
      ]
    }
  },
  "flagging_meta": {
    "generate_dates": false,
    "aws_access_key_id": "",
    "aws_secret_access_key": "",
    "n_train": 2,
    "ar_lags": 1,
    "remote": false,
    "output_dir": "./flagging_output",
    "flagger_type": ""
  },
  "flagging": [{
    "df_start_date":"05/01/2022",
    "df_end_date":"05/30/2022",

    "resid_start_date":"05/10/2022",
    "resid_end_date":"05/12/2022",
    "eval_start_date":"05/12/2022",
    "eval_end_date":"05/14/2022",

    "input_dir": "./receiving",
    "lags": ["var"],
    "raw_df": "./local_df.csv",
    "sig_fold": "dsew-cpr",
    "sig_str": "booster_doses_admin_7dav",
    "sig_type": "api"

  }]
}
