{
  "common": {
    "export_dir": "./receiving",
    "log_exceptions": false
  },
  "indicator": {
    "input_file": "./tests/test_data/SYNEDI_AGG_INPATIENT_11062020_1451CDT.csv.gz",
    "start_date": "2020-02-01",
    "end_date": null,
    "drop_date": null,
    "n_backfill_days": 60,
    "n_waiting_days": 3,
    "write_se": false,
    "obfuscated_prefix": "foo_obfuscated",
    "parallel": false,
    "geos": ["state", "msa", "hrr", "county"],
    "weekday": [true, false]
  }
}
