{
  "static_file_dir": "./static",
  "export_dir": "./receiving",
  "cache_dir": "./cache",
  "wip_signal": [],
  "parquet_url": "./test_data/small_CAN_data.parquet",
  "aws_credentials": {
    "aws_access_key_id": "FAKE_TEST_ACCESS_KEY_ID",
    "aws_secret_access_key": "FAKE_TEST_SECRET_ACCESS_KEY"
  },
  "bucket_name": "test-bucket"
}
