{
  "common": {
    "export_dir": "./receiving"
  },
  "indicator": {
    "parquet_url": "./test_data/small_CAN_data.parquet"
  },
  "archive": {
    "cache_dir": "./cache",
    "bucket_name": "test-bucket",
    "aws_credentials": {
      "aws_access_key_id": "{{ delphi_aws_access_key_id }}",
      "aws_secret_access_key": "{{ delphi_aws_secret_access_key }}"
    }
  }
}
