{
  "data_source": "fb_survey",
  "pipeline_version": "old",
  "start_date": "2020-06-13",
  "end_date": "2020-06-19",
  "ref_window_size": 7,
  "data_folder": "C:/Covidcast/covidcast-indicators/validator/data"
}