{
  "common": {
    "export_dir": "./receiving",
    "input_dir": "./input-cache",
    "log_exceptions": false,
    "log_filename": "./usa-facts.log"
  },
  "indicator": {
    "base_url": "https://static.usafacts.org/public/data/covid-19/covid_{metric}_usafacts.csv",
    "export_start_date": "2020-02-20"
  },
  "archive": {
    "aws_credentials": {
      "aws_access_key_id": "",
      "aws_secret_access_key": ""
    },
    "bucket_name": "",
    "indicator_prefix": "usafacts",
    "cache_dir": "./cache"
  },
  "validation": {
    "common": {
      "data_source": "usa-facts",
      "span_length": 14,
      "min_expected_lag": {"all": "1"},
      "max_expected_lag": {"all": "5"},
      "dry_run": true,
      "suppressed_errors": [
        {"check_name": "check_val_lt_0"},
        {"check_name": "check_test_vs_reference_avg_changed",
         "signal": "deaths_7dav_incidence_prop",
         "geo_type": "county"}
      ]
    },
    "static": {
      "minimum_sample_size": 100,
      "missing_se_allowed": true,
      "missing_sample_size_allowed": true
    },
    "dynamic": {
      "ref_window_size": 7,
      "smoothed_signals": [
        "confirmed_7dav_cumulative_num",
        "confirmed_7dav_cumulative_prop",
        "confirmed_7dav_incidence_num",
        "confirmed_7dav_incidence_prop",
        "deaths_7dav_cumulative_num",
        "deaths_7dav_cumulative_prop",
        "deaths_7dav_incidence_num",
        "deaths_7dav_incidence_prop"]
    }
  },
  "delivery": {
    "delivery_dir": "./receiving"
  }
}
