{
  "export_start_date": "2020-02-20",
  "export_dir": "./receiving",
  "cache_dir": "./cache",
  "base_url": "https://usafactsstatic.blob.core.windows.net/public/data/covid-19/covid_{metric}_usafacts.csv",
  "aws_credentials": {
    "aws_access_key_id": "",
    "aws_secret_access_key": ""
  },
  "bucket_name": ""
}
