{
  "common": {
    "export_dir": "./receiving",
    "log_exceptions": false,
    "log_filename": "./google-symptoms.log"
  },
  "indicator": {
    "export_start_date": "2020-02-20",
    "num_export_days": null,
    "bigquery_credentials": {}
  },
  "validation": {
    "common": {
      "data_source": "google-symptoms",
      "validation_failure_dir": "./validation_failures",
      "span_length": 14,
      "min_expected_lag": {"all": "3"},
      "max_expected_lag": {"all": "4"},
      "suppressed_errors": [
        {"signal": "ageusia_raw_search"},
        {"signal": "ageusia_smoothed_search"},
        {"signal": "anosmia_raw_search"},
        {"signal": "anosmia_smoothed_search"},
        {"signal": "sum_anosmia_ageusia_raw_search"},
        {"signal": "sum_anosmia_ageusia_smoothed_search"}
      ]
    },
    "static": {
      "minimum_sample_size": 0,
      "missing_se_allowed": true,
      "missing_sample_size_allowed": true
    },
    "dynamic": {
      "ref_window_size": 7,
      "smoothed_signals": [
        "s01_smoothed_search",
        "s02_smoothed_search",
        "s03_smoothed_search",
        "s04_smoothed_search",
        "s05_smoothed_search",
        "s06_smoothed_search",
        "scontrol_smoothed_search"
      ]
    }
  },
  "delivery": {
    "delivery_dir": "./receiving"
  }
}
