{
  "export_start_date": "2020-02-20",
  "static_file_dir": "./static",
  "export_dir": "./receiving",
  "cache_dir": "./cache",
  "bigquery_credentials": {
    "project_id": "",
    "api_key": ""
  }
}
