{
  "static_file_dir": "./static",
  "export_dir": "./receiving",
  "input_emr_file": "./input/SYNEDI_AGG_OUTPATIENT_18052020_1455CDT.csv.gz",
  "input_claims_file": "./input/SYNEDI_AGG_OUTPATIENT_18052020_1455CDT.csv.gz",
  "start_date": "2020-02-01",
  "end_date": "2020-05-18",
  "drop_date": "2020-05-18",
  "parallel": false,
  "weekday": [true, false]
}