{
  "static_file_dir": "./static",
  "export_dir": "./receiving",
  "input_emr_file": "./tests/test_data/SYNICUE_CMB_INPATIENT_11062020.csv.gz",
  "input_claims_file": "./tests/test_data/SYNEDI_AGG_INPATIENT_11062020_1451CDT.csv.gz",
  "start_date": "2020-02-01",
  "end_date": null,
  "drop_date": null,
  "n_backfill_days": 60,
  "n_waiting_days": 3,
  "se": false,
  "parallel": false,
  "geos": ["state", "msa", "hrr", "county"],
  "weekday": [true, false],
  "wip_signal": ""
}