{
  "channel": "#covid-19-outages",
  "slack_token": "",
  "sources": {
    "doctor-visits": {
      "max_age": 5,
      "maintainers": ["U010VE2T51N"]
    },
    "hospital-admissions": {
      "max_age": 5,
      "maintainers": ["U010VE2T51N"],
      "retired-signals": ["smoothed_covid19", "smoothed_adj_covid19"]
    },
    "ght": {
      "max_age": 5,
      "maintainers": ["U010VE2T51N"]
    },
    "jhu-csse": {
      "max_age": 2,
      "maintainers": ["UUCGWMJ5P"]
    },
    "usa-facts": {
      "max_age": 2,
      "maintainers": ["UUCGWMJ5P"]
    },
    "safegraph": {
      "max_age": 4,
      "maintainers": ["U010VE2T51N"]
    },
    "fb-survey": {
      "max_age": 2,
      "maintainers": ["U01069KCRS7"]
    },
    "indicator-combination": {
      "max_age": 2,
      "maintainers": ["U010VE2T51N"],
      "retired-signals": ["nmf_day_doc_fbs_ght"]
    }
  }
}
