{
  "static_file_dir": "../static",
  "export_dir": "./receiving",
  "cache_dir": "./cache",
  "input_denom_file": "test_data/20200601_All_Outpatients_By_County.dat",
  "input_covid_file": "test_data/20200601_Covid_Outpatients_By_County.dat",
  "start_date": "2020-02-01",
  "end_date": "2020-02-02",
  "drop_date": "2020-02-02",
  "n_backfill_days": 60,
  "n_waiting_days": 3,
  "se": false,
  "parallel": false,
  "geos": ["state", "msa", "hrr", "county", "nation", "hhs"],
  "weekday": [true, false],
  "wip_signal": "",
  "aws_credentials": {
    "aws_access_key_id": "FAKE_TEST_ACCESS_KEY_ID",
    "aws_secret_access_key": "FAKE_TEST_SECRET_ACCESS_KEY"
  },
  "bucket_name": "test_bucket"
}
