{
  "end_date": "2020-06-01",
  "backfill_days": 4,
  "archive_days": 14,
  "static_dir": "./static",
  "export_dir": "./contingency_receiving",
  "cache_dir": "./cache",
  "archive_dir": "./archive",
  "weights_in_dir": "./delphiFacebook/tests/testthat/weights_full",
  "input_dir": "./delphiFacebook/tests/testthat/input",
  "input": [
    "full_synthetic.csv"
  ],
  "aggregate_range": "month",
  "debug": false,
  "parallel": true
}
