{
  "archive_days": 14,
  "archive_dir": "./archive",
  "backfill_days": 4,
  "cache_dir": "./cache",
  "debug": false,
  "end_date": "2020-08-28",
  "export_dir": "./receiving",
  "individual_dir": "./individual",
  "individual_raceeth_dir": "./individual_raceeth",
  "produce_individual_raceeth": false,
  "input": [
    "2020-08-29.2020-08-22.2020-08-29.Survey_of_COVID-Like_Illness_-_TODEPLOY_......_-_US_Expansion.csv",
    "2020-08-29.2020-08-22.2020-08-29.Survey_of_COVID-Like_Illness_-_TODEPLOY-_US_Expansion_-_With_Translations.csv"
  ],
  "input_dir": "./input",
  "output": [
    "cids",
    "individual",
    "covidalert",
    "archive",
    "community"
  ],
  "parallel": true,
  "qualtrics": {
    "surveys": {
      "active": {
        "Survey of COVID-Like Illness - TODEPLOY ...... - US Expansion": "fb-survey",
        "Survey of COVID-Like Illness - TODEPLOY- US Expansion - With Translations": "fb-survey",
        "Survey of COVID-Like Illness - Wave 10": "fb-survey",
        "Survey of COVID-Like Illness - Wave 11": "fb-survey",
        "Survey of COVID-Like Illness - Wave 12": "fb-survey",
        "Survey of COVID-Like Illness - Wave 12 - Full Launch": "fb-survey",
        "Survey of COVID-Like Illness - Wave 13": "fb-survey",
        "Survey of COVID-Like Illness - Wave 4": "fb-survey",
        "Survey of COVID-Like Illness - Wave 5": "fb-survey",
        "Survey of COVID-Like Illness - Wave 6": "fb-survey",
        "Survey of COVID-Like Illness - Wave 7": "fb-survey",
        "Survey of COVID-Like Illness - Wave 8": "fb-survey"
      },
      "dormant": {
        "COVID-Like Illness 4-question survey - Amazon - DEPLOY": "",
        "COVID-Like Illness 4-question survey - Google": "",
        "COVID-Like Illness 4-question survey - YouTube": "youtube-survey",
        "Survey of COVID-Like Illness - TODEPLOY 2020-04-06": "fb-survey"
      }
    },
    "token": "",
    "notify-bad-weights":""
  },
  "start_date": "2020-08-28",
  "static_dir": "./static",
  "weights_in_dir": "./fb-incoming",
  "weekly_weights_in_dir": "./fb-incoming-weekly",
  "weights_out_dir": "./fb-outgoing",
  "experimental_weights_out_dir": "./exp-fb-outgoing",
  "sftp_options": "",
  "delphi_survey_email_user": "",
  "delphi_survey_sftp_user": "",
  "delphi_survey_sftp_password": "",
  "parallel_max_cores": 1
}
