{
  "start_date": "2020-05-08",
  "end_date": "2020-05-15",
  "backfill_days": 4,
  "archive_days": 14,
  "static_dir": "./static",
  "export_dir": "./receiving",
  "cache_dir": "./cache",
  "archive_dir": "./archive",
  "individual_dir": "./individual",
  "individual_raceeth_dir": "./individual_raceeth",
  "produce_individual_raceeth": false,
  "weights_in_dir": "./delphiFacebook/integration-tests/testthat/weights_full",
  "weekly_weights_in_dir": "./delphiFacebook/integration-tests/testthat/weights_full_weekly",
  "weights_out_dir": "./weights_out",
  "experimental_weights_out_dir": "./exp_weights_out",
  "input_dir": "./delphiFacebook/integration-tests/testthat/input",
  "input": [
    "full_synthetic.csv"
  ],
  "output": [
    "cids",
    "individual",
    "covidalert",
    "archive",
    "community"
  ],
  "debug": false,
  "parallel": true,
  "contingency": {
    "end_date": "2020-06-01",
    "export_dir": "./contingency_receiving",
    "input": [
      "full_synthetic.csv"
    ],
    "aggregate_range": "month"
  },
  "sftp_options": "",
  "delphi_survey_email_user": "",
  "delphi_survey_sftp_user": "",
  "delphi_survey_sftp_password": "",
  "parallel_max_cores": 1,
  "qualtrics": {
    "notify-bad-weights": ""
  }
}
