{
  "flagging_meta": {
    "generate_dates": true,
    "aws_access_key_id": "{{ safegraph_aws_access_key_id }}",
    "aws_secret_access_key": "{{ safegraph_aws_secret_access_key }}",
    "n_train": 200,
    "ar_lags": 7,
    "flagger_type": "",
    "remote": false,
    "output_dir": "./flag_output"
  },
  "flagging": [
      {"lags": ["var"],
        "sig_fold": "chng"
        "sig_str": "smoothed_outpatient_cli",
        "sig_type": "api"
      }
    ]
}

