class claims:
    HOST = 'ftp.delphi.cmu.edu'
    USER = {{ claims_hosp_ftp_user }}
    PASS = {{ claims_hosp_ftp_password }}
    PORT = 2222


class covidcast:
    HOST = "delphi.midas.cs.cmu.edu"
    USER = {{ claims_hosp_midas_user }}
    PASS = {{ claims_hosp_midas_password }}
