{
  "common": {
    "export_dir": "/common/covidcast/receiving/dsew-cpr",
    "log_filename": "/var/log/indicators/dsew_cpr.log"
  },
  "indicator": {
    "input_cache": "./input_cache",
    "reports": "new",
    "export_signals": [
      "confirmed covid-19 admissions",
      "doses administered",
      "booster doses administered",
      "fully vaccinated",
      "booster dose since",
      "positivity"
    ]
  },
  "validation": {
    "common": {
      "data_source": "dsew-cpr",
      "api_credentials": "{{ validation_api_key }}",
      "span_length": 14,
      "min_expected_lag": {"all": "3"},
      "max_expected_lag": {"all": "9"},
      "dry_run": true,
      "suppressed_errors": []
    },
    "static": {
      "minimum_sample_size": 0,
      "missing_se_allowed": true,
      "missing_sample_size_allowed": true
    },
    "dynamic": {
      "ref_window_size": 7,
      "smoothed_signals": [
        "naats_positivity_7dav",
        "confirmed_admissions_covid_1d_prop_7dav",
        "confirmed_admissions_covid_1d_7dav",
        "doses_admin_7dav",
        "booster_doses_admin_7dav"
      ]
    }
  },
  "archive": {
    "aws_credentials": {
      "aws_access_key_id": "{{ delphi_aws_access_key_id }}",
      "aws_secret_access_key": "{{ delphi_aws_secret_access_key }}"
    },
    "bucket_name": "delphi-covidcast-indicator-output",
    "cache_dir": "./cache",
    "indicator_prefix": "delphi_dsew_community_profile"
  }
}
