{
  "common": {
    "export_dir": "/common/covidcast/receiving/dsew-cpr",
    "log_filename": "/var/log/indicators/dsew_cpr.log"
  },
  "indicator": {
    "input_cache": "./input_cache",
    "reports": "new",
    "export_signals": [
      "confirmed covid-19 admissions",
      "doses administered",
      "booster doses administered",
      "fully vaccinated",
      "booster dose since"
    ]
  },
  "validation": {
    "common": {
      "data_source": "dsew-cpr",
      "span_length": 14,
      "min_expected_lag": {"all": "3"},
      "max_expected_lag": {"all": "9"},
      "dry_run": true,
      "suppressed_errors": []
    },
    "static": {
      "minimum_sample_size": 0,
      "missing_se_allowed": true,
      "missing_sample_size_allowed": true
    },
    "dynamic": {
      "ref_window_size": 7,
      "smoothed_signals": [
        "naats_total_7dav",
        "naats_positivity_7dav",
        "confirmed_admissions_covid_1d_prop_7dav",
        "confirmed_admissions_covid_1d_7dav",
        "doses_admin_7dav",
        "booster_doses_admin_7dav"
      ]
    }
  }
}
