{
  "archive_days": 14,
  "archive_dir": "./archive",
  "backfill_days": 4,
  "cache_dir": "./cache",
  "debug": false,
  "delphi_survey_email_user": "{{ fb_survey_email_user }}",
  "delphi_survey_sftp_password": "{{ fb_survey_sftp_password }}",
  "delphi_survey_sftp_user": "{{ fb_survey_sftp_user }}",
  "sftp_options": "-o 'BatchMode=no' -o 'StrictHostKeyChecking=no' -o 'PubkeyAuthentication=no' -o 'PreferredAuthentications=password'",
  "end_date": "2021-08-16",
  "export_dir": "./receiving",
  "individual_dir": "./individual",
  "individual_raceeth_dir": "./individual_raceeth",
  "produce_individual_raceeth": false,
  "input": [
    "2021-08-17.2021-08-10.2021-08-17.Survey_of_COVID-Like_Illness_-_TODEPLOY_......_-_US_Expansion.csv",
    "2021-08-17.2021-08-10.2021-08-17.Survey_of_COVID-Like_Illness_-_Wave_10.csv",
    "2021-08-17.2021-08-10.2021-08-17.Survey_of_COVID-Like_Illness_-_Wave_11.csv"
  ],
  "input_dir": "./input",
  "output": [
    "cids",
    "individual",
    "covidalert",
    "archive",
    "community"
  ],
  "parallel": true,
  "parallel_max_cores": 2,
  "qualtrics": {
    "notify-bad-weights": "{{ fb_notify_weights_email_list }}",
    "surveys": {
      "active": {
        "Survey of COVID-Like Illness - TODEPLOY ...... - US Expansion": "fb-survey",
        "Survey of COVID-Like Illness - TODEPLOY- US Expansion - With Translations": "fb-survey",
        "Survey of COVID-Like Illness - Wave 10": "fb-survey",
        "Survey of COVID-Like Illness - Wave 11": "fb-survey",
        "Survey of COVID-Like Illness - Wave 12": "fb-survey",
        "Survey of COVID-Like Illness - Wave 12 - Full Launch": "fb-survey",
        "Survey of COVID-Like Illness - Wave 13": "fb-survey",
        "Survey of COVID-Like Illness - Wave 4": "fb-survey",
        "Survey of COVID-Like Illness - Wave 5": "fb-survey",
        "Survey of COVID-Like Illness - Wave 6": "fb-survey",
        "Survey of COVID-Like Illness - Wave 7": "fb-survey",
        "Survey of COVID-Like Illness - Wave 8": "fb-survey"
      },
    "dormant": {
        "COVID-Like Illness 4-question survey - Amazon - DEPLOY": "",
        "COVID-Like Illness 4-question survey - Google": "",
        "COVID-Like Illness 4-question survey - YouTube": "youtube-survey",
        "Survey of COVID-Like Illness - TODEPLOY 2020-04-06": "fb-survey"
      }
    },
    "token": "{{ fb_qualtrics_token }}"
  },
  "start_date": "2021-08-16",
  "static_dir": "./static",
  "weights_in_dir": "./fb-incoming",
  "weekly_weights_in_dir": "./fb-incoming-weekly",
  "weights_out_dir": "./fb-outgoing",
  "experimental_weights_out_dir": "./exp-fb-outgoing"
}
