{
  "static_file_dir": "./static",
  "export_dir": "/common/covidcast/receiving/ght",
  "cache_dir": "./cache",
  "data_dir": "./data",
  "start_date": "",
  "end_date": "",
  "ght_key": "{{ google_health_api_key }}",
  "wip_signal": "",
  "aws_credentials": {
    "aws_access_key_id": "{{ delphi_aws_access_key_id }}",
    "aws_secret_access_key": "{{ delphi_aws_secret_access_key }}"
  },
  "bucket_name": "delphi-covidcast-indicator-output",
  "test": false,
  "test_data_dir": "",
  "log_filename": "/var/log/indicators/google_health.log"
}
