{
  "common": {
    "export_dir": "/common/covidcast/receiving/google-symptoms",
    "log_filename": "/var/log/indicators/google_symptoms.log"
  },
  "indicator": {
    "export_start_date": "2020-02-20",
    "num_export_days": 14,
    "bigquery_credentials": {
      "type": "{{ google_symptoms_account_type }}",
      "project_id": "{{ google_symptoms_project_id }}",
      "private_key_id": "{{ google_symptoms_private_key_id }}",
      "private_key": "{{ google_symptoms_private_key }}",
      "client_email": "{{ google_symptoms_client_email }}",
      "client_id": "{{ google_symptoms_client_id }}",
      "auth_uri": "{{ google_symptoms_auth_uri }}",
      "token_uri": "{{ google_symptoms_token_uri }}",
      "auth_provider_x509_cert_url": "{{ google_symptoms_auth_provider_x509_cert_url }}",
      "client_x509_cert_url": "{{ google_symptoms_client_x509_cert_url }}"
    }
  },
  "validation": {
    "common": {
      "data_source": "google-symptoms",
      "span_length": 14,
      "end_date": "today-8",
      "suppressed_errors": [
      ]
    },
    "static": {
      "minimum_sample_size": 0,
      "missing_se_allowed": true,
      "missing_sample_size_allowed": true
    },
    "dynamic": {
      "ref_window_size": 7,
      "smoothed_signals": [
        "ageusia_smoothed_search",
        "sum_anosmia_ageusia_smoothed_search",
        "anosmia_smoothed_search"
      ]
    }
  }
}
