{
  "static_file_dir": "./static",
  "export_dir": "/common/covidcast/receiving/ght",
  "cache_dir": "./cache",
  "start_date": "2020-02-01",
  "end_date": "",
  "ght_key": "{{ google_health_api_key }}"
}
