{
  "export_start_date": "2020-02-20",
  "static_file_dir": "./static",
  "export_dir": "/common/covidcast/receiving/google-symptoms",
  "cache_dir": "./cache",
  "base_url": "https://raw.githubusercontent.com/google-research/open-covid-19-data/master/data/exports/search_trends_symptoms_dataset/United%20States%20of%20America{sub_url}2020_US_{state}daily_symptoms_dataset.csv",
  "log_filename": "/var/log/indicators/google_symptoms.log"
}
