{
  "common": {
    "export_dir": "/common/covidcast/receiving/ght",
    "log_filename": "/var/log/indicators/google_health.log"
  },
  "indicator": {
    "data_dir": "./data",
    "end_date": "",
    "ght_key": "{{ google_health_api_key }}",
    "start_date": "",
    "static_file_dir": "./static",
    "test_data_dir": "",
    "wip_signal": ""
  },
  "archive": {
    "aws_credentials": {
      "aws_access_key_id": "{{ delphi_aws_access_key_id }}",
      "aws_secret_access_key": "{{ delphi_aws_secret_access_key }}"
    },
    "bucket_name": "delphi-covidcast-indicator-output",
    "cache_dir": "./cache"
  }
}
