{
  "static_file_dir": "./static",
  "raw_data_dir": "/common/safegraph",
  "export_dir": "./receiving",
  "cache_dir": "./cache",
  "n_core": "12",
  "aws_access_key_id": "{{ safegraph_aws_access_key_id }}",
  "aws_secret_access_key": "{{ safegraph_aws_secret_access_key }}",
  "aws_default_region": "us-east-1",
  "aws_endpoint": "https://s3.wasabisys.com",
  "sync": true,
  "wip_signal" : []
}
