{
  "common": {
    "export_dir": "./receiving",
    "log_filename": "/var/log/indicators/safegraph.log"
  },
  "indicator": {
    "static_file_dir": "./static",
    "raw_data_dir": "/common/safegraph",
    "n_core": 12,
    "aws_access_key_id": "{{ safegraph_aws_access_key_id }}",
    "aws_secret_access_key": "{{ safegraph_aws_secret_access_key }}",
    "aws_default_region": "us-east-1",
    "aws_endpoint": "https://s3.wasabisys.com",
    "sync": true,
    "wip_signal" : []
  },
  "validation": {
    "common": {
      "data_source": "safegraph",
      "span_length": 14,
      "end_date": "today",
      "suppressed_errors": [
        {"signal": "bars_visit_num"},
        {"signal": "bars_visit_prop"},
        {"signal": "restaurants_visit_num"},
        {"signal": "restaurants_visit_prop"}
      ]
    },
    "static": {
      "minimum_sample_size": 100,
      "missing_se_allowed": false,
      "missing_sample_size_allowed": false
    },
    "dynamic": {
      "ref_window_size": 7,
      "smoothed_signals": [
        "completely_home_prop_7dav",
        "full_time_work_prop_7dav",
        "part_time_work_prop_7dav",
        "median_home_dwell_time_7dav"
      ]
    }
  }
}
