{
  "log_filename": "/var/log/indicators/sircal.log",
  "slack_token": "{{ sir_complainsalot_slack_token }}",
  "api_credentials": "{{ sir_complainsalot_api_key }}",
  "sources": {
    "doctor-visits": {
      "max_age": 5,
      "maintainers": ["U01AP8GSWG3","U01069KCRS7"]
    },
    "hospital-admissions": {
      "max_age": 5,
      "maintainers": ["U01AP8GSWG3","U01069KCRS7"],
      "retired-signals": ["smoothed_covid19","smoothed_adj_covid19"]
    },
    "google-symptoms": {
      "max_age": 6,
      "maintainers": ["U01AP8GSWG3","U01069KCRS7"],
      "retired-signals": [
        "ageusia_raw_search",
        "ageusia_smoothed_search",
        "anosmia_raw_search",
        "anosmia_smoothed_search",
        "sum_anosmia_ageusia_raw_search",
        "sum_anosmia_ageusia_smoothed_search"
      ]
    },
    "quidel": {
      "max_age":6,
      "maintainers": ["U01AP8GSWG3","U01069KCRS7"],
      "retired-signals": [
        "raw_pct_negative", "smoothed_pct_negative",
        "raw_tests_per_device", "smoothed_tests_per_device",
        "covid_ag_raw_pct_positive_age_0_4", "covid_ag_smoothed_pct_positive_age_0_4",
        "covid_ag_raw_pct_positive_age_5_17", "covid_ag_smoothed_pct_positive_age_5_17",
        "covid_ag_raw_pct_positive_age_18_49", "covid_ag_smoothed_pct_positive_age_18_49",
        "covid_ag_raw_pct_positive_age_50_64", "covid_ag_smoothed_pct_positive_age_50_64",
        "covid_ag_raw_pct_positive_age_65plus", "covid_ag_smoothed_pct_positive_age_65plus",
        "covid_ag_raw_pct_positive_age_0_17", "covid_ag_smoothed_pct_positive_age_0_17"
      ]
    },
    "nchs-mortality": {
      "max_age":19,
      "maintainers": []
    },
    "nssp": {
      "max_age":13,
      "maintainers": []
    }
  }
}
