{
  "log_filename": "/var/log/indicators/sircal.log",
  "slack_token": "{{ sir_complainsalot_slack_token }}",
  "sources": {
    "doctor-visits": {
      "max_age": 5,
      "maintainers": ["U01AP8GSWG3","U01069KCRS7"]
    },
    "hospital-admissions": {
      "max_age": 5,
      "maintainers": ["U01AP8GSWG3","U01069KCRS7"],
      "retired-signals": ["smoothed_covid19","smoothed_adj_covid19"]
    },
    "chng": {
      "max_age": 6,
      "maintainers": ["U01AP8GSWG3","U01069KCRS7"],
      "retired-signals": ["smoothed_outpatient_covid", "smoothed_adj_outpatient_covid", "smoothed_outpatient_cli", "smoothed_adj_outpatient_cli"]
    },
    "google-symptoms": {
      "max_age": 6,
      "maintainers": ["U01AP8GSWG3","U01069KCRS7"],
      "retired-signals": [
        "ageusia_raw_search",
        "ageusia_smoothed_search",
        "anosmia_raw_search",
        "anosmia_smoothed_search",
        "sum_anosmia_ageusia_raw_search",
        "sum_anosmia_ageusia_smoothed_search"
      ]
    },
    "usa-facts": {
      "max_age": 5,
      "maintainers": ["U01AP8GSWG3","U01069KCRS7"],
      "retired-signals": ["confirmed_7dav_cumulative_num", "confirmed_7dav_cumulative_prop", "deaths_7dav_cumulative_num", "deaths_7dav_cumulative_prop"]
    },
    "jhu-csse": {
      "max_age": 2,
      "maintainers": ["U01AP8GSWG3","U01069KCRS7"],
      "retired-signals": ["confirmed_7dav_cumulative_num", "confirmed_7dav_cumulative_prop", "deaths_7dav_cumulative_num", "deaths_7dav_cumulative_prop"]
    },
    "safegraph": {
      "max_age": 11,
      "maintainers": ["U01AP8GSWG3","U01069KCRS7"],
      "retired-signals": ["completely_home_prop", "full_time_work_prop", "part_time_work_prop", "median_home_dwell_time", "completely_home_prop_7dav", "full_time_work_prop_7dav", "part_time_work_prop_7dav", "median_home_dwell_time_7dav"]
    },
    "fb-survey": {
      "max_age": 3,
      "maintainers": ["U01069KCRS7"],
      "retired-signals": [
        "smoothed_anxious_5d", "smoothed_wanxious_5d",
        "smoothed_depressed_5d", "smoothed_wdepressed_5d",
        "smoothed_felt_isolated_5d", "smoothed_wfelt_isolated_5d",
        "smoothed_large_event_1d", "smoothed_wlarge_event_1d",
        "smoothed_restaurant_1d", "smoothed_wrestaurant_1d",
        "smoothed_shop_1d", "smoothed_wshop_1d",
        "smoothed_spent_time_1d", "smoothed_wspent_time_1d",
        "smoothed_travel_outside_state_5d", "smoothed_wtravel_outside_state_5d",
        "smoothed_work_outside_home_1d", "smoothed_wwork_outside_home_1d",
        "smoothed_wearing_mask", "smoothed_wwearing_mask",
        "smoothed_vaccine_likely_local_health", "smoothed_wvaccine_likely_local_health",
        "smoothed_others_masked", "smoothed_wothers_masked",
        "smoothed_wanted_test_14d", "smoothed_wwanted_test_14d",
        "smoothed_covid_vaccinated_or_accept", "smoothed_wcovid_vaccinated_or_accept",
        "smoothed_accept_covid_vaccine", "smoothed_waccept_covid_vaccine",
        "smoothed_hesitancy_reason_allergic", "smoothed_whesitancy_reason_allergic",
        "smoothed_hesitancy_reason_not_recommended", "smoothed_whesitancy_reason_not_recommended",
        "smoothed_hesitancy_reason_distrust_vaccines", "smoothed_whesitancy_reason_distrust_vaccines",
        "smoothed_hesitancy_reason_health_condition", "smoothed_whesitancy_reason_health_condition",
        "smoothed_hesitancy_reason_pregnant", "smoothed_whesitancy_reason_pregnant",
        "smoothed_vaccine_likely_friends", "smoothed_wvaccine_likely_friends",
        "smoothed_vaccine_likely_who", "smoothed_wvaccine_likely_who",
        "smoothed_vaccine_likely_govt_health", "smoothed_wvaccine_likely_govt_health",
        "smoothed_vaccine_likely_politicians", "smoothed_wvaccine_likely_politicians",
        "smoothed_vaccine_likely_doctors", "smoothed_wvaccine_likely_doctors",
        "smoothed_felt_isolated_7d", "smoothed_wfelt_isolated_7d",
        "smoothed_worried_become_ill", "smoothed_wworried_become_ill",
        "smoothed_received_2_vaccine_doses", "smoothed_wreceived_2_vaccine_doses",
        "smoothed_hesitancy_reason_dislike_vaccines", "smoothed_whesitancy_reason_dislike_vaccines",
        "smoothed_inperson_school_fulltime", "smoothed_winperson_school_fulltime",
        "smoothed_inperson_school_parttime", "smoothed_winperson_school_parttime",
        "smoothed_vaccinate_children", "smoothed_wvaccinate_children",
        ["smoothed_vaccine_barrier_appointment_time_tried", "msa"], ["smoothed_wvaccine_barrier_appointment_time_tried", "msa"],
        ["smoothed_vaccine_barrier_childcare_tried", "msa"], ["smoothed_wvaccine_barrier_childcare_tried", "msa"],
        ["smoothed_vaccine_barrier_document_tried", "msa"], ["smoothed_wvaccine_barrier_document_tried", "msa"],
        ["smoothed_vaccine_barrier_eligible_tried", "msa"], ["smoothed_wvaccine_barrier_eligible_tried", "msa"],
        ["smoothed_vaccine_barrier_language_tried", "msa"], ["smoothed_wvaccine_barrier_language_tried", "msa"],
        ["smoothed_vaccine_barrier_no_appointments_tried", "msa"], ["smoothed_wvaccine_barrier_no_appointments_tried", "msa"],
        ["smoothed_vaccine_barrier_none_tried", "msa"], ["smoothed_wvaccine_barrier_none_tried", "msa"],
        ["smoothed_vaccine_barrier_technical_difficulties_tried", "msa"], ["smoothed_wvaccine_barrier_technical_difficulties_tried", "msa"],
        ["smoothed_vaccine_barrier_technology_access_tried", "msa"], ["smoothed_wvaccine_barrier_technology_access_tried", "msa"],
        ["smoothed_vaccine_barrier_time_tried", "msa"], ["smoothed_wvaccine_barrier_time_tried", "msa"],
        ["smoothed_vaccine_barrier_travel_tried", "msa"], ["smoothed_wvaccine_barrier_travel_tried", "msa"],
        ["smoothed_vaccine_barrier_type_tried", "msa"], ["smoothed_wvaccine_barrier_type_tried", "msa"],
        ["smoothed_try_vaccinate_1m", "hrr"], ["smoothed_wtry_vaccinate_1m", "hrr"],
        ["smoothed_dontneed_reason_dont_spend_time", "hrr"], ["smoothed_wdontneed_reason_dont_spend_time", "hrr"],
        ["smoothed_dontneed_reason_had_covid", "hrr"], ["smoothed_wdontneed_reason_had_covid", "hrr"],
        ["smoothed_dontneed_reason_not_beneficial", "hrr"], ["smoothed_wdontneed_reason_not_beneficial", "hrr"],
        ["smoothed_dontneed_reason_not_high_risk", "hrr"], ["smoothed_wdontneed_reason_not_high_risk", "hrr"],
        ["smoothed_dontneed_reason_not_serious", "hrr"], ["smoothed_wdontneed_reason_not_serious", "hrr"],
        ["smoothed_dontneed_reason_other", "hrr"], ["smoothed_wdontneed_reason_other", "hrr"],
        ["smoothed_dontneed_reason_precautions", "hrr"], ["smoothed_wdontneed_reason_precautions", "hrr"],
        "smoothed_screening_tested_positive_14d", "smoothed_wscreening_tested_positive_14d",
        "smoothed_travel_outside_state_7d", "smoothed_wtravel_outside_state_7d",
        "smoothed_belief_vaccinated_mask_unnecessary", "smoothed_wbelief_vaccinated_mask_unnecessary",
        "smoothed_belief_children_immune", "smoothed_wbelief_children_immune",
        "smoothed_received_2_vaccine_doses", "smoothed_wreceived_2_vaccine_doses",
        "smoothed_vaccine_barrier_eligible", "smoothed_wvaccine_barrier_eligible",
        "smoothed_vaccine_barrier_no_appointments", "smoothed_wvaccine_barrier_no_appointments",
        "smoothed_vaccine_barrier_appointment_time", "smoothed_wvaccine_barrier_appointment_time",
        "smoothed_vaccine_barrier_technical_difficulties", "smoothed_wvaccine_barrier_technical_difficulties",
        "smoothed_vaccine_barrier_document", "smoothed_wvaccine_barrier_document",
        "smoothed_vaccine_barrier_technology_access", "smoothed_wvaccine_barrier_technology_access",
        "smoothed_vaccine_barrier_travel", "smoothed_wvaccine_barrier_travel",
        "smoothed_vaccine_barrier_language", "smoothed_wvaccine_barrier_language",
        "smoothed_vaccine_barrier_childcare", "smoothed_wvaccine_barrier_childcare",
        "smoothed_vaccine_barrier_time", "smoothed_wvaccine_barrier_time",
        "smoothed_vaccine_barrier_type", "smoothed_wvaccine_barrier_type",
        "smoothed_vaccine_barrier_none", "smoothed_wvaccine_barrier_none",
        "smoothed_vaccine_barrier_appointment_location", "smoothed_wvaccine_barrier_appointment_location",
        "smoothed_vaccine_barrier_other", "smoothed_wvaccine_barrier_other",
        "smoothed_vaccine_barrier_eligible_has", "smoothed_wvaccine_barrier_eligible_has",
        "smoothed_vaccine_barrier_no_appointments_has", "smoothed_wvaccine_barrier_no_appointments_has",
        "smoothed_vaccine_barrier_appointment_time_has", "smoothed_wvaccine_barrier_appointment_time_has",
        "smoothed_vaccine_barrier_technical_difficulties_has", "smoothed_wvaccine_barrier_technical_difficulties_has",
        "smoothed_vaccine_barrier_document_has", "smoothed_wvaccine_barrier_document_has",
        "smoothed_vaccine_barrier_technology_access_has", "smoothed_wvaccine_barrier_technology_access_has",
        "smoothed_vaccine_barrier_travel_has", "smoothed_wvaccine_barrier_travel_has",
        "smoothed_vaccine_barrier_language_has", "smoothed_wvaccine_barrier_language_has",
        "smoothed_vaccine_barrier_childcare_has", "smoothed_wvaccine_barrier_childcare_has",
        "smoothed_vaccine_barrier_time_has", "smoothed_wvaccine_barrier_time_has",
        "smoothed_vaccine_barrier_type_has", "smoothed_wvaccine_barrier_type_has",
        "smoothed_vaccine_barrier_none_has", "smoothed_wvaccine_barrier_none_has",
        "smoothed_vaccine_barrier_appointment_location_has", "smoothed_wvaccine_barrier_appointment_location_has",
        "smoothed_vaccine_barrier_other_has", "smoothed_wvaccine_barrier_other_has"
      ]
    },
    "quidel": {
      "max_age":6,
      "maintainers": ["U01AP8GSWG3","U01069KCRS7"],
      "retired-signals": ["raw_pct_negative","smoothed_pct_negative","raw_tests_per_device","smoothed_tests_per_device"]
    },
    "nchs-mortality": {
      "max_age":16,
      "maintainers": []
    },
    "hhs": {
      "max_age":8,
      "maintainers": []
    }
  }
}
