{
  "log_filename": "/var/log/indicators/sircal.log",
  "slack_token": "{{ sir_complainsalot_slack_token }}",
  "sources": {
    "doctor-visits": {
      "max_age": 5,
      "maintainers": ["U01AP8GSWG3","U01069KCRS7"]
    },
    "hospital-admissions": {
      "max_age": 5,
      "maintainers": ["U01AP8GSWG3","U01069KCRS7"],
      "retired-signals": ["smoothed_covid19","smoothed_adj_covid19"]
    },
    "chng": {
      "max_age": 6,
      "maintainers": ["U01AP8GSWG3","U01069KCRS7"],
      "retired-signals": ["smoothed_outpatient_covid", "smoothed_adj_outpatient_covid", "smoothed_outpatient_cli", "smoothed_adj_outpatient_cli"]
    },
    "google-symptoms": {
      "max_age": 6,
      "maintainers": ["U01AP8GSWG3","U01069KCRS7"]
    },
    "usa-facts": {
      "max_age": 5,
      "maintainers": ["U01AP8GSWG3","U01069KCRS7"],
      "retired-signals": ["confirmed_7dav_cumulative_num", "confirmed_7dav_cumulative_prop", "deaths_7dav_cumulative_num", "deaths_7dav_cumulative_prop"]
    },
    "jhu-csse": {
      "max_age": 2,
      "maintainers": ["U01AP8GSWG3","U01069KCRS7"],
      "retired-signals": ["confirmed_7dav_cumulative_num", "confirmed_7dav_cumulative_prop", "deaths_7dav_cumulative_num", "deaths_7dav_cumulative_prop"]
    },
    "safegraph": {
      "max_age": 11,
      "maintainers": ["U01AP8GSWG3","U01069KCRS7"],
      "retired-signals": ["completely_home_prop", "full_time_work_prop", "part_time_work_prop", "median_home_dwell_time", "completely_home_prop_7dav", "full_time_work_prop_7dav", "part_time_work_prop_7dav", "median_home_dwell_time_7dav"]
    },
    "fb-survey": {
      "max_age": 3,
      "maintainers": ["U01069KCRS7"],
      "retired-signals": [
        "smoothed_anxious_5d", "smoothed_wanxious_5d",
        "smoothed_depressed_5d", "smoothed_wdepressed_5d",
        "smoothed_felt_isolated_5d", "smoothed_wfelt_isolated_5d",
        "smoothed_large_event_1d", "smoothed_wlarge_event_1d",
        "smoothed_restaurant_1d", "smoothed_wrestaurant_1d",
        "smoothed_shop_1d", "smoothed_wshop_1d",
        "smoothed_spent_time_1d", "smoothed_wspent_time_1d",
        "smoothed_travel_outside_state_5d", "smoothed_wtravel_outside_state_5d",
        "smoothed_work_outside_home_1d", "smoothed_wwork_outside_home_1d",
        "smoothed_wearing_mask", "smoothed_wwearing_mask",
        "smoothed_vaccine_likely_local_health", "smoothed_wvaccine_likely_local_health",
        "smoothed_others_masked", "smoothed_wothers_masked",
        "smoothed_wanted_test_14d", "smoothed_wwanted_test_14d",
        "smoothed_covid_vaccinated_or_accept", "smoothed_wcovid_vaccinated_or_accept",
        "smoothed_accept_covid_vaccine", "smoothed_waccept_covid_vaccine",
        "smoothed_hesitancy_reason_allergic", "smoothed_whesitancy_reason_allergic",
        "smoothed_hesitancy_reason_not_recommended", "smoothed_whesitancy_reason_not_recommended",
        "smoothed_hesitancy_reason_distrust_vaccines", "smoothed_whesitancy_reason_distrust_vaccines",
        "smoothed_hesitancy_reason_health_condition", "smoothed_whesitancy_reason_health_condition",
        "smoothed_hesitancy_reason_pregnant", "smoothed_whesitancy_reason_pregnant",
        "smoothed_vaccine_likely_friends", "smoothed_wvaccine_likely_friends",
        "smoothed_vaccine_likely_who", "smoothed_wvaccine_likely_who",
        "smoothed_vaccine_likely_govt_health", "smoothed_wvaccine_likely_govt_health",
        "smoothed_vaccine_likely_politicians", "smoothed_wvaccine_likely_politicians",
        "smoothed_vaccine_likely_doctors", "smoothed_wvaccine_likely_doctors",
        "smoothed_felt_isolated_7d", "smoothed_wfelt_isolated_7d",
        "smoothed_worried_become_ill", "smoothed_wworried_become_ill",
        ["smoothed_vaccine_barrier_appointment_time_tried", "msa"], ["smoothed_wvaccine_barrier_appointment_time_tried", "msa"],
        ["smoothed_vaccine_barrier_childcare_tried", "msa"], ["smoothed_wvaccine_barrier_childcare_tried", "msa"],
        ["smoothed_vaccine_barrier_document_tried", "msa"], ["smoothed_wvaccine_barrier_document_tried", "msa"],
        ["smoothed_vaccine_barrier_eligible_tried", "msa"], ["smoothed_wvaccine_barrier_eligible_tried", "msa"],
        ["smoothed_vaccine_barrier_language_tried", "msa"], ["smoothed_wvaccine_barrier_language_tried", "msa"],
        ["smoothed_vaccine_barrier_no_appointments_tried", "msa"], ["smoothed_wvaccine_barrier_no_appointments_tried", "msa"],
        ["smoothed_vaccine_barrier_none_tried", "msa"], ["smoothed_wvaccine_barrier_none_tried", "msa"],
        ["smoothed_vaccine_barrier_technical_difficulties_tried", "msa"], ["smoothed_wvaccine_barrier_technical_difficulties_tried", "msa"],
        ["smoothed_vaccine_barrier_technology_access_tried", "msa"], ["smoothed_wvaccine_barrier_technology_access_tried", "msa"],
        ["smoothed_vaccine_barrier_time_tried", "msa"], ["smoothed_wvaccine_barrier_time_tried", "msa"],
        ["smoothed_vaccine_barrier_travel_tried", "msa"], ["smoothed_wvaccine_barrier_travel_tried", "msa"],
        ["smoothed_vaccine_barrier_type_tried", "msa"], ["smoothed_wvaccine_barrier_type_tried", "msa"],
        ["smoothed_try_vaccinate_1m", "hrr"], ["smoothed_wtry_vaccinate_1m", "hrr"],
        ["smoothed_dontneed_reason_dont_spend_time", "hrr"], ["smoothed_wdontneed_reason_dont_spend_time", "hrr"],
        ["smoothed_dontneed_reason_had_covid", "hrr"], ["smoothed_wdontneed_reason_had_covid", "hrr"],
        ["smoothed_dontneed_reason_not_beneficial", "hrr"], ["smoothed_wdontneed_reason_not_beneficial", "hrr"],
        ["smoothed_dontneed_reason_not_high_risk", "hrr"], ["smoothed_wdontneed_reason_not_high_risk", "hrr"],
        ["smoothed_dontneed_reason_not_serious", "hrr"], ["smoothed_wdontneed_reason_not_serious", "hrr"],
        ["smoothed_dontneed_reason_other", "hrr"], ["smoothed_wdontneed_reason_other", "hrr"],
        ["smoothed_dontneed_reason_precautions", "hrr"], ["smoothed_wdontneed_reason_precautions", "hrr"],
        "raw_cli",
        "raw_ili",
        "smoothed_cli",
        "smoothed_ili",
        "raw_hh_cmnty_cli",
        "raw_nohh_cmnty_cli",
        "smoothed_hh_cmnty_cli",
        "smoothed_nohh_cmnty_cli",
        "smoothed_wearing_mask",
        "smoothed_wearing_mask_7d",
        "smoothed_others_masked",
        "smoothed_others_masked_public",
        "smoothed_others_distanced_public",
        "smoothed_worried_become_ill",
        "smoothed_worried_finances",
        "smoothed_anxious_5d",
        "smoothed_depressed_5d",
        "smoothed_felt_isolated_5d",
        "smoothed_anxious_7d",
        "smoothed_depressed_7d",
        "smoothed_felt_isolated_7d",
        "smoothed_worried_catch_covid",
        "smoothed_travel_outside_state_5d",
        "smoothed_travel_outside_state_7d",
        "wip_smoothed_work_outside_home_5d",
        "smoothed_work_outside_home_1d",
        "smoothed_work_outside_home_indoors_1d",
        "smoothed_shop_1d",
        "smoothed_restaurant_1d",
        "smoothed_spent_time_1d",
        "smoothed_large_event_1d",
        "smoothed_public_transit_1d",
        "smoothed_shop_indoors_1d",
        "smoothed_restaurant_indoors_1d",
        "smoothed_spent_time_indoors_1d",
        "smoothed_large_event_indoors_1d",
        "smoothed_tested_14d",
        "smoothed_tested_positive_14d",
        "smoothed_screening_tested_positive_14d",
        "smoothed_wanted_test_14d",
        "smoothed_had_covid_ever",
        "smoothed_accept_covid_vaccine",
        "smoothed_accept_covid_vaccine_no_appointment",
        "smoothed_appointment_or_accept_covid_vaccine",
        "smoothed_covid_vaccinated_or_accept",
        "smoothed_covid_vaccinated_appointment_or_accept",
        "smoothed_appointment_not_vaccinated",
        "smoothed_covid_vaccinated",
        "smoothed_worried_vaccine_side_effects",
        "smoothed_received_2_vaccine_doses",
        "smoothed_covid_vaccinated_friends",
        "smoothed_vaccinate_children",
        "smoothed_try_vaccinate_1m",
        "smoothed_vaccine_likely_friends",
        "smoothed_vaccine_likely_local_health",
        "smoothed_vaccine_likely_who",
        "smoothed_vaccine_likely_govt_health",
        "smoothed_vaccine_likely_politicians",
        "smoothed_vaccine_likely_doctors",
        "smoothed_trust_covid_info_doctors",
        "smoothed_trust_covid_info_experts",
        "smoothed_trust_covid_info_cdc",
        "smoothed_trust_covid_info_govt_health",
        "smoothed_trust_covid_info_politicians",
        "smoothed_trust_covid_info_journalists",
        "smoothed_trust_covid_info_friends",
        "smoothed_trust_covid_info_religious",
        "smoothed_hesitancy_reason_sideeffects",
        "smoothed_hesitancy_reason_allergic",
        "smoothed_hesitancy_reason_ineffective",
        "smoothed_hesitancy_reason_unnecessary",
        "smoothed_hesitancy_reason_dislike_vaccines",
        "smoothed_hesitancy_reason_not_recommended",
        "smoothed_hesitancy_reason_wait_safety",
        "smoothed_hesitancy_reason_low_priority",
        "smoothed_hesitancy_reason_cost",
        "smoothed_hesitancy_reason_distrust_vaccines",
        "smoothed_hesitancy_reason_distrust_gov",
        "smoothed_hesitancy_reason_health_condition",
        "smoothed_hesitancy_reason_other",
        "smoothed_hesitancy_reason_pregnant",
        "smoothed_hesitancy_reason_religious",
        "smoothed_vaccine_barrier_eligible",
        "smoothed_vaccine_barrier_no_appointments",
        "smoothed_vaccine_barrier_appointment_time",
        "smoothed_vaccine_barrier_technical_difficulties",
        "smoothed_vaccine_barrier_document",
        "smoothed_vaccine_barrier_technology_access",
        "smoothed_vaccine_barrier_travel",
        "smoothed_vaccine_barrier_language",
        "smoothed_vaccine_barrier_childcare",
        "smoothed_vaccine_barrier_time",
        "smoothed_vaccine_barrier_type",
        "smoothed_vaccine_barrier_none",
        "smoothed_vaccine_barrier_eligible_has",
        "smoothed_vaccine_barrier_no_appointments_has",
        "smoothed_vaccine_barrier_appointment_time_has",
        "smoothed_vaccine_barrier_technical_difficulties_has",
        "smoothed_vaccine_barrier_document_has",
        "smoothed_vaccine_barrier_technology_access_has",
        "smoothed_vaccine_barrier_travel_has",
        "smoothed_vaccine_barrier_language_has",
        "smoothed_vaccine_barrier_childcare_has",
        "smoothed_vaccine_barrier_time_has",
        "smoothed_vaccine_barrier_type_has",
        "smoothed_vaccine_barrier_none_has",
        "smoothed_vaccine_barrier_eligible_tried",
        "smoothed_vaccine_barrier_no_appointments_tried",
        "smoothed_vaccine_barrier_appointment_time_tried",
        "smoothed_vaccine_barrier_technical_difficulties_tried",
        "smoothed_vaccine_barrier_document_tried",
        "smoothed_vaccine_barrier_technology_access_tried",
        "smoothed_vaccine_barrier_travel_tried",
        "smoothed_vaccine_barrier_language_tried",
        "smoothed_vaccine_barrier_childcare_tried",
        "smoothed_vaccine_barrier_time_tried",
        "smoothed_vaccine_barrier_type_tried",
        "smoothed_vaccine_barrier_none_tried",
        "smoothed_dontneed_reason_had_covid",
        "smoothed_dontneed_reason_dont_spend_time",
        "smoothed_dontneed_reason_not_high_risk",
        "smoothed_dontneed_reason_precautions",
        "smoothed_dontneed_reason_not_serious",
        "smoothed_dontneed_reason_not_beneficial",
        "smoothed_dontneed_reason_other",
        "smoothed_inperson_school_fulltime",
        "smoothed_inperson_school_parttime",
        "smoothed_belief_masking_effective",
        "smoothed_belief_distancing_effective",
        "smoothed_belief_vaccinated_mask_unnecessary",
        "smoothed_belief_children_immune",
        "smoothed_belief_created_small_group",
        "smoothed_belief_govt_exploitation",
        "smoothed_race_treated_fairly_healthcare",
        "smoothed_delayed_care_cost",
        "smoothed_received_news_local_health",
        "smoothed_received_news_experts",
        "smoothed_received_news_cdc",
        "smoothed_received_news_govt_health",
        "smoothed_received_news_politicians",
        "smoothed_received_news_journalists",
        "smoothed_received_news_friends",
        "smoothed_received_news_religious",
        "smoothed_received_news_none",
        "smoothed_want_info_covid_treatment",
        "smoothed_want_info_vaccine_access",
        "smoothed_want_info_vaccine_types",
        "smoothed_want_info_covid_variants",
        "smoothed_want_info_children_education",
        "smoothed_want_info_mental_health",
        "smoothed_want_info_relationships",
        "smoothed_want_info_employment",
        "smoothed_want_info_none"
      ]
    },
    "indicator-combination": {
      "max_age": 4,
      "maintainers": ["U01AP8GSWG3","U01069KCRS7"],
      "retired-signals": ["nmf_day_doc_fbs_ght", "nmf_day_doc_fbc_fbs_ght", "confirmed_7dav_cumulative_num", "confirmed_7dav_cumulative_prop", "deaths_7dav_cumulative_num", "deaths_7dav_cumulative_prop"]
    },
    "quidel": {
      "max_age":6,
      "maintainers": ["U01AP8GSWG3","U01069KCRS7"],
      "retired-signals": ["raw_pct_negative","smoothed_pct_negative","raw_tests_per_device","smoothed_tests_per_device"]
    },
    "nchs-mortality": {
      "max_age":16,
      "maintainers": []
    },
    "covid-act-now": {
      "max_age":5,
      "maintainers": []
    },
    "hhs": {
      "max_age":8,
      "maintainers": []
    }
  }
}
