{
  "export_start_date": "2020-02-01",
  "static_file_dir": "./static",
  "export_dir": "/common/covidcast/receiving/usa-facts",
  "cache_dir": "./cache",
  "base_url": "https://usafactsstatic.blob.core.windows.net/public/data/covid-19/covid_{metric}_usafacts.csv",
  "aws_credentials": {
    "aws_access_key_id": "{{ delphi_aws_access_key_id }}",
    "aws_secret_access_key": "{{ delphi_aws_secret_access_key }}"
  },
  "bucket_name": "delphi-covidcast-indicator-output",
  "log_filename": "/var/log/indicators/usafacts.log"
}
