{
  "static_file_dir": "./static",
  "raw_data_dir": "/mnt/data/safegraph/",
  "export_dir": "./receiving",
  "cache_dir": "./cache",
  "n_core": "12",
  "aws_access_key_id": "",
  "aws_secret_access_key": "",
  "aws_default_region": "",
  "aws_endpoint": "",
   "wip_signal" : ""
}
