{
  "validation": {
    "global": {
      "data_source": "usa-facts",
      "end_date": "2020-09-08",
      "span_length": 3,
      "suppressed_errors": [
        {"check_name": "check_min_max_date",
         "geo_type": "county",
         "signal": "confirmed_7dav_cumulative_prop"},
        {"check_name": "check_val_lt_0",
         "date": "2020-09-06",
         "geo_type": "county",
         "signal": "deaths_7dav_incidence_num"}],
      "test_mode": true
    },
    "static": {
      "minimum_sample_size": 100,
      "missing_sample_size_allowed": true,
      "missing_se_allowed": true,
      "additional_valid_geo_values": {
        "state": ["xyz"]
      }
    },
    "dynamic": {
      "expected_lag": {
        "confirmed_7dav_cumulative_num": 1,
        "confirmed_7dav_cumulative_prop": 1,
        "confirmed_7dav_incidence_num": 1,
        "confirmed_7dav_incidence_prop": 1,
        "deaths_7dav_cumulative_num": 1,
        "deaths_7dav_cumulative_prop": 1,
        "deaths_7dav_incidence_num": 1,
        "deaths_7dav_incidence_prop": 1,
        "confirmed_cumulative_num": 1,
        "confirmed_cumulative_prop": 1,
        "confirmed_incidence_num": 1,
        "confirmed_incidence_prop": 1,
        "deaths_cumulative_num": 1,
        "deaths_cumulative_prop": 1,
        "deaths_incidence_num": 1,
        "deaths_incidence_prop": 1},
      "ref_window_size": 7,
      "smoothed_signals": [
        "confirmed_7dav_cumulative_num",
        "confirmed_7dav_cumulative_prop",
        "confirmed_7dav_incidence_num",
        "confirmed_7dav_incidence_prop",
        "deaths_7dav_cumulative_num",
        "deaths_7dav_cumulative_prop",
        "deaths_7dav_incidence_num",
        "deaths_7dav_incidence_prop"]
    }
  }
}
