{
  "common": {
    "export_dir": "./receiving",
    "log_filename": "./covid_act_now.log"
  },
  "indicator": {
    "parquet_url": "https://storage.googleapis.com/can-scrape-outputs/final/can_scrape_api_covid_us.parquet"
  },
  "archive": {
    "cache_dir": "./cache",
    "bucket_name": "",
    "indicator_prefix": "CAN",
    "aws_credentials": {
      "aws_access_key_id": "",
      "aws_secret_access_key": ""
    }
  },
  "validation": {
    "common": {
      "data_source": "covid-act-now",
      "span_length": 14,
      "min_expected_lag": {"all": "3"},
      "max_expected_lag": {"all": "6"},
      "dry_run": true,
      "suppressed_errors": [
        {"check_name": "check_se_many_missing",
         "signal": "pcr_specimen_total_tests"},
        {"check_name": "check_se_not_missing_and_in_range",
         "signal": "pcr_specimen_total_tests"},
        {"check_name": "check_n_missing",
         "signal": "pcr_specimen_total_tests"},
        {"check_name": "check_se_0_when_val_0"},
        {"check_name": "check_test_vs_reference_avg_changed",
         "signal": "pcr_specimen_positivity_rate"}           
      ]
    },
    "static": {
      "minimum_sample_size": 0,
      "missing_se_allowed": false,
      "missing_sample_size_allowed": false
    },
    "dynamic": {
      "ref_window_size": 7,
      "smoothed_signals": [
      ]
    }
  },
  "delivery": {
    "delivery_dir": "./receiving"
  }
}