[defaults]
remote_user = indicators
vault_password_file = ~/.indicators-ansible-vault-pass
ansible_managed = This file is managed by Ansible.%n
  Template: {file}
  Date: %Y-%m-%d %H:%M:%S
  User: {uid}
  Host: {host}
