{
  "common": {
    "export_dir": "./receiving",
    "log_filename": "./safegraph.log",
    "log_exceptions": false
  },
  "indicator": {
    "static_file_dir": "./static",
    "raw_data_dir": "./data",
    "n_core": 12,
    "apikey": "",
    "aws_access_key_id": "",
    "aws_secret_access_key": "",
    "aws_default_region": "",
    "aws_endpoint": "",
    "sync": true
  },
  "validation": {
    "common": {
      "data_source": "safegraph",
      "span_length": 14,
      "min_expected_lag": {"all": "sunday+4,4"},
      "max_expected_lag": {"all": "sunday+5,5"},
      "dry_run": true,
      "suppressed_errors": [
        {"signal": "completely_home_prop"},
        {"signal": "completely_home_prop_7dav"},
        {"signal": "full_time_work_prop"},
        {"signal": "full_time_work_prop_7dav"},
        {"signal": "part_time_work_prop"},
        {"signal": "part_time_work_prop_7dav"},
        {"signal": "median_home_dwell_time"},
        {"signal": "median_home_dwell_time_7dav"}
      ]
    },
    "static": {
      "minimum_sample_size": 100,
      "missing_se_allowed": true,
      "missing_sample_size_allowed": true,
      "additional_valid_geo_values": {"county": ["51515"]}
    },
    "dynamic": {
      "ref_window_size": 7,
      "smoothed_signals": []
    }
  }
}
