{
  "ref_lag": 60,
  "data_path": "",
  "test_dates":["", ""] ,
  "testing_window": 1,
  "training_days": 270,
  "export_dir": "./receiving",
  "geo_levels": ["state", "county"],
  "value_type": ["count", "ratio"],
  "num_col": "",
  "denom_col": "",
}
