{
  "ref_lag": 7,
  "input_dir": "",
  "cache_dir": "./cache",
  "testing_window": 1,
  "training_days": 30,
  "export_dir": "./receiving",
  "geo_levels": ["state", "county"],
  "value_types": ["count", "fraction"],
  "num_col": "num",
  "denom_col": "den"
}
