{
  "common": {
    "export_dir": "./receiving"
  },
  "indicator": {
    "start_date": "2020-03-07",
    "end_date": "",
    "parallel": false,
    "wip_signal": "",
    "input_cache_dir": "./cache"
  }
}
