{
  "export_start_date": "2020-04-11",
  "static_file_dir": "../static",
  "export_dir": "./receiving",
  "cache_dir": "./cache",
  "daily_export_dir": "./daily_receiving",
  "daily_cache_dir": "./daily_cache",
  "token": "",
  "mode":"test",
  "aws_credentials": {
    "aws_access_key_id": "FAKE_TEST_ACCESS_KEY_ID",
    "aws_secret_access_key": "FAKE_TEST_SECRET_ACCESS_KEY"
  },
  "bucket_name": "test-bucket"
}
