# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ main ]
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-20.04
    if: github.event.pull_request.draft == false
    strategy:
      matrix:
        #packages: [_delphi_utils_python, cdc_covidnet, claims_hosp, combo_cases_and_deaths, google_symptoms, jhu, nchs_mortality, quidel, quidel_covidtest, safegraph, safegraph_patterns, usafacts]
        packages: [cdc_covidnet, claims_hosp, combo_cases_and_deaths, google_symptoms, jhu, nchs_mortality, quidel, quidel_covidtest, safegraph, safegraph_patterns, usafacts]
    defaults:
      run:
        working-directory: ${{ matrix.packages }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install testing dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint pytest pydocstyle wheel
    - name: Install
      run: |
        make install
    - name: Lint
      if: ${{ matrix.packages != 'claims_hosp' && matrix.packages != 'quidel' && matrix.packages != 'usafacts'}}
      run: |
        make lint
    - name: Test
      run: |
        make test
